#spinner {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group span {
    color: red;
}